services:
  db:
    image: postgres:16
    container_name: currency-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - currency_pg:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d currency"]
      interval: 5s
      timeout: 3s
      retries: 20

  app:
    build: .
    container_name: currency-app
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  currency_pg: